@import '../../../styles/variables';
@import '../../../styles/mixins';

.btn {
  @include button-base;
  
  &--primary {
    @include button-primary;
  }
  
  &--secondary {
    @include button-secondary;
  }
  
  &--ghost {
    @include button-ghost;
  }
}

