@import '../../../styles/variables';
@import '../../../styles/mixins';

.btn {
  @include button-base;
  
  @media (max-width: $breakpoint-md) {
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-xs;
    
    svg {
      width: 14px;
      height: 14px;
    }
  }
  
  &--primary {
    @include button-primary;
  }
  
  &--secondary {
    @include button-secondary;
  }
  
  &--ghost {
    @include button-ghost;
  }
}

