@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.file-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 columns on mobile
  padding: $spacing-md;
  align-items: start;
  gap: $spacing-xs;
  
  @include respond-to(md) {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
  
  @include respond-to(lg) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

